.App {
    /*background: tomato;*/
    height: 100vh;
}

.case {
    width: 320px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background: tomato;
}

.input {
    margin-bottom: 5px;
    height: 75px;
    width: 310px;
    border: none;
    background: tomato;
    font-size: 50px;
    color: #111111;
    text-align: right;display: block;
}

.keyboard {
    width: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button {
    width: 75px;
    height: 75px;
    font-size: 50px;
    color: red;
    cursor: pointer;
}
